@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 14px;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }
}
